certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
influxdb==5.3.1
msgpack==1.0.7
paho-mqtt==1.6.1
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
urllib3==2.0.7
influxdb-client==1.38.0